#user{
    margin:13px 45px;
    height:20px;
}
#userName{
    font-size:1.7rem;
}
.manageUl {
    line-height:30px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    overflow: auto;
    margin:9px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
}

.manageUl li {
    line-height:30px;
    text-align: center;
    color: black;
    padding: 17px 0px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    font-size:2rem;
}

.manageUl li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.show {display:block;}

#Umask{
    background: rgba(0,0,0,0.5);
    opacity:0.75;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    display:none;
}
.Uclose{ 
    background:url("../image/wrong.png") no-repeat; 
    background-size:59%;
    width:30px;
    height:30px; 
    cursor:pointer; 
    position:absolute;
    right:4px; 
    top:15px; 
    text-indent:-999em;
}
#nameForm{
    /* border: 1.5px solid #e6e6e6; */
    padding:0px 0px;
    height:270px;
    width:500px;
    position:fixed;
    z-index:1001;
    /* margin:140px 630px;  */
    font-size:20px;
    font-family:微软雅黑;
    display:none;
    background-color:white;
    color:#6b6868;
}
#pswordForm{
    /* border: 1.5px solid #e6e6e6; */
    padding:0px 0px;
    height:500px;
    width:500px;
    position:fixed;
    z-index:1001;
    /* margin:140px 630px;  */
    font-size:20px;
    font-family:微软雅黑;
    display:none;
    background-color:white;
    color:#6b6868;
}
#addressForm{
    /* border: 1.5px solid #e6e6e6; */
    padding:0px 0px;
    height:500px;
    width:500px;
    position:fixed;
    z-index:1001;
    /* margin:140px 630px;  */
    font-size:20px;
    font-family:微软雅黑;
    display:none;
    background-color:white;
    color:#6b6868;
}
.Ubtn{
    height:36px;
    width:230px;
    outline: none;
    font-size:20px;
    display: inline;
    margin:0px 12px;
    border:1.5px solid #cacaca;
}
.Uhead{
    width:448px;
    height:31px;
    background-color:#dff2ff;
    padding: 13px 26px;
}
.Utitle{
    font-size:20px;
    display:block;
    margin:0px 0px;
    font-weight: bold;
}
.Ucontent{
    height:250px;
    width:420px;
    margin:40px 77px;   
}
.Ucontent span{
    font-size:2rem;
}
.UcloseBtn{
    height:40px;
    width:97px;
    background-color:#cacaca;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin:50px 0px;
    font-size:16px;
    color:#6b6868;
}
.UsubmitBtn{
    height:40px;
    width:191px;
    background-color:#f0e688;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin:0px 55px;
    font-size:16px;
    color:#6b6868;
}
#Uaddres{
    height:100px;
    width:230px;
    outline: none;
    font-size:16px;
    margin:-46px 117px;
    border:1.5px solid #cacaca;
}
